<config>
    <modules>
        <Nls_Crowd>
            <version>0.9.0</version>
        </Nls_Crowd>
    </modules>
    <global>
        <models>
            <nls_crowd>
                <class>Nls_Crowd_Model</class>
            </nls_crowd>
        </models>
        <helpers>
            <nls_crowd>
                <class>Nls_Crowd_Helper</class>
            </nls_crowd>
        </helpers>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <nls_crowd_auth>
                        <type>singleton</type>
                        <class>Nls_Crowd_Model_Observer</class>
                        <method>adminhtmlControllerActionPredispatchStart</method>
                    </nls_crowd_auth>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <default>
        <nls_crowd>
            <config>
                <enabled>0</enabled>
                <service_url>http://crowd.yourdomain.com</service_url>
                <app_name>magento</app_name>
                <app_credential></app_credential>
            </config>
        </nls_crowd>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <nls_crowd>
                                            <title>Crowd Authentification</title>
                                        </nls_crowd>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>